<script type="text/javascript">
$(".button").click(function(){
   
    $(".dropdown").slideToggle();
    
});
</script>
<%= image_tag @ads[:liga][:url_flamula_png].to_s,size: "65"%>
<%= @ads[:liga][:nome] %>
<%= @ads[:liga][:descricao] %>

<div class="row pagination-centered"">
	<div class="col-md-12 table-responsive">
			<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<td>Time</td>
				<td>Rodada</td>
				<td>Últ Rodada</td>
				<td>Mês</td>
				<td>Total</td>
			</tr>	

				<% @ads[:times].each do |time| %>	

					<tr align="left">					
						<td>
							<div class="row">		
								<div class="col-md-12">
									<div class="row">
										<div class="col-md-2">
											<%= image_tag time[:url_escudo_png].to_s,size: "65"%>
										</div>
										<div class="col-md-1">
											<h6><%= time[:ranking][:campeonato]%></h6>
										</div>
									<div class="col-md-7">
									<h4><b><%= time[:nome]%></b></h4>
									<h6><%= time[:nome_cartola]%></h6>

									<% if @mercado != "Aberto" %>										
									<table class="table table-bordered table-striped">
												<thead>
													<tr>
													</tr>
												</thead>											
										<% atletas_por_slug(time[:slug])[:atletas].sort { |x,y| x[:posicao_id] <=> y[:posicao_id] }.each do |atleta| %>
												<tr>												 														
												<td>
												<div class="row">
													<div class="col-md-2">														
														<%= image_tag @clubes[atleta[:clube_id].to_s][:escudos]["60x60"],size: "35" %>
													</div>													
												</div>
												</td>												
												 <td><%=atleta[:apelido]%><b><h6><%= atleta[:posicao].to_s %></b></h6></td>		
												 <td><%=number_with_precision(pontuacao(atleta[:atleta_id].to_s), :precision => 2)%></td>		
												</tr>	
																						
										<% end %>
										</table>
									<% end %>

								</div>
								<div>
									<h6><%= number_to_currency time[:patrimonio].to_s %></h6>
								</div>
							</div>
						</td>
						<td>
						<%=number_with_precision(somar_pontos_por_slug(time[:slug]), :precision => 2)%>
						</td>
						<td>
							 <%=number_with_precision(time[:pontos][:rodada], :precision => 2)%>
						</td>
						<td>
							 <%=number_with_precision(time[:pontos][:mes], :precision => 2)%>
						</td>
						<td>
							 <%=number_with_precision(time[:pontos][:campeonato], :precision => 2)%>
						</td>						
					</tr>
				<% end %>
		</table>
	</div>
</div>


